body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(236, 236, 236);
}
.App {
  text-align: center;
}

/* .colors {
  color: #ffa836; gold
  color: #90b494; green
  color: #343434; gray
  color: rgb(0, 30, 65) blue
} */
.cardImg {
  width: 20%;
}
.itemSpacing {
  margin-top: 100px;
}
.cardbg {
  background-color: white;
}
.solarPanelImg {
  width: 100%;
}
.marginLarge {
  margin-top: 20%;
}
.marginTop {
  margin-top: 10px;
}
.oswaldfont {
  font-family: "Oswald", sans-serif;
}
.title {
  font-size: 33px;
  font-weight: 700;
}
.subTitle {
  font-size: 20px;
  font-weight: 700;
}
.bgblue {
  background-color: rgb(0, 30, 65);
}
.txtblue {
  color: rgb(0, 30, 65);
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Navbarbg {
  background-color: #343434;
  color: white;
  text-decoration: none;
}
.Navbarbg:hover {
  background-color: #343434;
  color: rgb(218, 218, 218);
}
.navHeight {
  height: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
