/* Required Classes */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(255, 245, 226, 0.644);
}
.App,
.align {
  text-align: center;
}

/* Custom Classes Below */

/* .colors {
  color: #ffa836; gold
  color: rgb(59, 100, 29); green
  color: #6c757d; gray
  color: rgb(0, 30, 65) blue
} */

.borderRadiusSm {
  border-radius: 5px;
}
.imgSpacing {
  margin-top: 700px;
}
.overlaytxt {
  position: absolute;
  top: 10px;
  right: 60%;
  z-index: 1;
}
.heatpumpimg {
  width: 80%;
}
.solarwaterheatimg {
  width: 50%;
}
.ductsealingimg {
  width: 65%;
}
.cardImg {
  width: 20%;
}
.itemSpacing {
  margin-top: 100px;
}
.SourceCard {
  background-color: #6c757d;
  transition: background-color 1s;
}
.SourceCard:hover {
  background-color: #565758;
}
.cardbg {
  background-color: #6c757d;
  border-radius: 5px;
  height: 200px;
  width: 100%;
}
.cardtxt {
  color: #ffffff;
  text-decoration: none;
}
.solarPanelImg {
  width: 100%;
  position: fixed;
  top: -150px;
  right: 0px;
  height: 700px;
  z-index: -1;
}
.leftrightpadding {
  padding-left: 20%;
  padding-right: 20%;
}
.marginLarge {
  margin-top: 20%;
}
.marginTop {
  margin-top: 15px;
}
.marginBottom {
  margin-bottom: 100px;
}
.oswaldfont {
  font-family: "Oswald", sans-serif;
}
.title {
  font-size: 33px;
  font-weight: 700;
}
.subTitle {
  font-size: 20px;
  font-weight: 700;
}
.bglightgray {
  background-color: #6c757d;
}
.shadow {
  filter: drop-shadow(0px 5px 5px #2c2c2c);
}
.navmargin {
  margin-top: 2px;
}
.mainNavbg {
  color: #3b3b3b;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  background-color: rgba(108, 173, 62, 0);
}
.navdropdown {
  color: #3b3b3b;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  background-color: rgba(108, 173, 62, 0);
}
.navdropdown:hover {
  color: #3b3b3b;
  background-color: rgba(99, 99, 99, 0.411);
}
.dropdownbg {
  color: #3b3b3b;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  background-color: rgba(108, 173, 62, 0);
}
.dropdownbg:hover {
  color: #3b3b3b;
  background-color: rgba(99, 99, 99, 0.411);
}
.Navbarbg {
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
  text-align: center;
  background-color: rgb(152, 123, 94);
}
.Navbarbg:hover {
  color: rgb(210, 255, 158);
}
.navHeight {
  height: 80px;
}

/* 

Dont use or create any classes past this point 

 */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
