.App {
  text-align: center;
}

/* .colors {
  color: #ffa836; gold
  color: #90b494; green
  color: #343434; gray
} */

.shadow {
  box-shadow: 5px 5px #343434;
}
.Navbarbg {
  background-color: #343434;
  color: white;
  text-decoration: none;
}
.Navbarbg:hover {
  background-color: #343434;
  color: rgb(218, 218, 218);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
